<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500783748544-0j3vc6bs1chum3j8gm94sjpf4q9jofrs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500783748544-0j3vc6bs1chum3j8gm94sjpf4q9jofrs</string>
	<key>API_KEY</key>
	<string>AIzaSyBdJigiCyWnsg5-SqIJXxuQhajioPpM_ds</string>
	<key>GCM_SENDER_ID</key>
	<string>500783748544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.desafioSilicon</string>
	<key>PROJECT_ID</key>
	<string>desafiosilicon-caee3</string>
	<key>STORAGE_BUCKET</key>
	<string>desafiosilicon-caee3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500783748544:ios:aa507ce08b7c9d0a566425</string>
</dict>
</plist>